.container
  = form_for Task.new, url: tasks_path, method: :post, remote: true do |f|
    .row
      .col-sm-6
        = f.label :title
        = f.text_field :title, class: 'form-control', placeholder: 'Title'
    .row.mt-4
      .col-sm-6
        = f.label :sub_title
        = f.text_field :sub_title, class: 'form-control', placeholder: 'Sub Title'
    .row.mt-4
      .col-sm-6
        = f.label :due_date
        = f.date_field :due_date, class: 'form-control'
    .row.mt-4
      .col-sm-6
        = f.label :priority
        = f.select :priority, Task.priorities.keys, {}, class: 'form-control'
    .row.mt-4
      .col-sm-6.text-center
        = f.submit 'Create', class: 'btn btn-success'