.container
  .row
    %span= "ID: #{@task.id}"
    %span= "Title: #{@task.title}"
    %span= "Sub Title: #{@task.sub_title}"
    %span= "Due Date: #{@task.due_date}"
    %span= "Priority: #{@task.priority}"